@mixin flexCenter($direction) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: $direction;
}

@mixin theme($light-theme: true){
    @if $light-theme{
        background: lighten(setColor(primary), 100%);
        color: darken(setColor(default), 100%);
    }
}

@mixin mediaQuery {
    @media (max-width: 800px){
        @content;
    }
}

@mixin mq($canvas) {
    @each $name, $bp in $breakpoint {
        @if $canvas == $name {
        @media only screen and (max-width: $bp) {
            @content;
        }
        }
    }
}


@mixin transition-ease($value: 0.5s) {
    transition: all $value ease-in-out;
}

