$primary-color: #272727;
$secondary-color: #ccc;
$text-color: #ffffff;
$accent-color: #800080;

$font-weights:(
    "regular": 400,
    "medium": 500,
    "bold": 600
);

body{
    background: $primary-color;

}


h1{
    color: $text-color;
    font-weight: map-get($font-weights, regular);
}

.card{
    margin: 0 auto;
    width: 70%;

    #{&}__title{
        font-weight: map-get($font-weights, bold);
        color: $text-color;

        &:hover{
            color: $accent-color;
        }
    }

    #{&}__content{
        font-weight: map-get($font-weights, regular);
        color: $text-color;
    }
}
